@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  background-color: #48285c;
}
.bg-color {
  background-color: #9c0cf5;
}
.bg-color-1 {
  background-color: #ac60db;
}
.bg-color-2 {
  background-color: #7c469e;
}

.bg-img {
  background-image: url(https://res.cloudinary.com/dhe7vivfw/image/upload/v1680215576/RollingCode/Icono%20Principal%20y%20Fondos/image-removebg-preview_86_1_tpn4es.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  font-family: "Bangers", cursive !important;
  background-color: #9c0cf5;
}

.font-s {
  font-weight: bold;
  font-size: 25px;
}

.button-s {
  background-color: #48285c;
}

.text {
  font-family: "Bangers", cursive;
  color: rgb(251, 248, 252);
}

/* Footer */
.footer {
  width: 100%;
  background-color: #481666;
}

.logo-redes {
  width: 40px;
}

.store-image {
  width: 150px;
}

@media screen and (min-width: 768px) {
  .logo-redes {
    width: 70px;
  }
  .store-image {
    width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .logo-redes {
    width: 70px;
  }
  .store-image {
    width: 250px;
  }
}

.film-logo {
  width: 100px;
}

.footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.footer .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .grupo-1 .box figure img {
  width: 150px;
}
.footer .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.footer .grupo-1 .box ul {
  list-style: none;
}

.footer .grupo-2 {
  background-color: #9c0cf5;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.footer .grupo-2 small {
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .footer .grupo-1 {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
